#Configuration {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: var(--bg-alt);

  transition: transform 0.1s ease-in-out;

  overflow: hidden;

  /* No selecting */
  user-select: none;
}

#Configuration.hide {
  transform: translateX(-100%);
}

#ConfigurationInner {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#ConfigurationTop {
  margin: 20px;
}

#ConfigurationTop:hover {
  cursor: pointer;
}

#ConfigurationTop img {
  height: 24px;
}

.ConfigurationRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 80%;
  margin: 10px 0;
}

.ConfigurationControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.ConfigurationControl .TextboxOuter {
  padding: 6px;
  width: 50%;
}

.ConfigurationControl .Textbox {
  text-align: center;
}

.ConfigurationRow.disabled {
  opacity: 0.5;
}