#OnOffToggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 25%;
  font-size: 1.6rem;
  font-weight: 900;
}

#OnOffToggle span {
  margin: 20px;
}

#OnOffToggle:hover {
  cursor: pointer;
}

#OnOffToggle img {
  transform: rotate(180deg);
  width: 50%;

  transition: all 0.1s ease-in-out;
}

#OnOffToggle img.toggled {
  transform: rotate(0deg);
}