#RedirectSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 20%;

  width: 80%;
}

#RedirectSelect span {
  margin: 10px;
}