#RedirectSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 5%;

  width: 85%;
}

#RedirectSelect span {
  margin: 10px;
}

#RedirectSelect .TextboxOuter {
  padding: 8px;
  width: 100%;

  justify-content: center;
}

#RedirectSelect .Textbox {
  text-align: center;
}

.RedirectInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}

.RedirectServer {
  width: 70% !important;
}

.RedirectPort {
  width: 15% !important;
}

.RedirectPort input {
  margin: 0;
}
