#RedirectSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 5%;

  width: 80%;
}

#RedirectSelect span {
  margin: 10px;
}

#RedirectSelect .TextboxOuter {
  padding: 8px;
  width: 100%;

  justify-content: center;
}

#RedirectSelect .Textbox {
  text-align: center;
}