#UriList {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: transparent;
  color: var(--primary);

  text-align: center;

  width: 85%;
  height: 30%;
}

#UriList span {
  margin: 10px;
}

#UriListInner {
  border: none;
  background: transparent;

  appearance: none;
  outline: none;

  border-radius: 4px;

  color: var(--primary);

  text-align: center;

  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#UriListInner .TextboxOuter {
  padding: 6px 0;
  margin: 4px 0;
}

/* Hide scrollbar */
#UriListInner::-webkit-scrollbar {
  display: none;
}

#UriListInner ul {
  list-style: none;
  padding: 8px;
  margin: 0;
}

#UriListInner li {
  background: var(--textbox-bg);

  margin: 8px 0;
  padding: 8px;

  width: 100%;
}

#UriListTextboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#UriListTextboxContainer .TextboxOuter {
  width: 90%;
}

#UriListFile {
  height: 20px;
  width: 20px;

  margin: 0 8px;
}

#UriListFile:hover {
  cursor: pointer;
}

#UriListFile img {
  height: inherit;
  width: inherit;
}
