:root {
  --red: #ba292e;
  --yellow: #ffa73c;
  --green: #3ece45;

  --primary: #fff;

  --bg: #282528;
  --bg-alt: #1d1b1d;

  --textbox-bg: #131013;

  --border: #1a1a1a;
}

body {
  background-color: var(--bg);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: var(--primary);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 90vh;
}

select {
  background: transparent;
  color: var(--primary);

  border: none;
  border-bottom: 1px solid var(--primary);

  outline: none;

  font-size: 14px;
  font-weight: bold;

  padding: 4px 0;
  margin: 4px 0;
}

select:hover {
  cursor: pointer;
}

select option {
  background: var(--bg-alt);
  color: var(--primary);

  border: none;
  border-bottom: 1px solid var(--primary);

  outline: none;

  font-size: 14px;
  font-weight: bold;

  padding: 4px 0;
  margin: 4px 0;
}