:root {
  --red: #ba292e;
  --yellow: #ffa73c;
  --green: #3ece45;

  --bg: #282528;

  --textbox-bg: #131013;
}

body {
  background-color: var(--bg);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #fff;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}